# Data Science Tools and Ecosystem

## Author
W.O. Mohamud

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- List some commonly used libraries in Data Science.
- Learn about tools and environments used by Data Scientists.
- Create tables and lists in Jupyter Notebook Markdown cells.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SAS

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib

|Data Science Tools|
|----------|
|PyCharm|
|JupyterLab|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [19]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [25]:
# This will convert 200 minutes to hours by diving by 60
minutes=200
hours= minutes/60
hours

3.3333333333333335